<%= form_with model:group, local:true do |f| %>
  <div class="form-group mb-3">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :紹介文 %>
    <%= f.text_area :introduction, class: "form-control" %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :グループ画像 %><br>
    <%= f.attachment_field :image %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>